html,
body {
  padding: 0;
  margin: 0;
  font-size: var(--font-size);
  color: var(--darker);
  background-color: var(--light-grey);
  font-family: var(--main-font), sans-serif;
}

h1, h2, h3 {
  font-family: var(--cond-font), sans-serif;
  color: var(--darker);
  font-weight: 700;
}

h4, h5, h6 {
  font-family: var(--serif-font), serif;
  color: var(--dark);
  font-weight: 700;
  font-style: italic;
}

p, div, td, li, span {
  font-family: var(--main-font), sans-serif;
  font-weight: 400;
  color: var(--dark);
  line-height: var(--xl);
}

.container {
  padding: 0 var(--md);
}

.row {
  padding: var(--md);
  display: block;
}

code, pre {
  font-family: var(--mono-font),monospace;
  color: var(--light-grey);
  padding: 5px 10px;
  border: 2px solid var(--light-grey);
  background-color: var(--dark);
  border-radius: 7px;
}